<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Show Video</title>
</head>
<body>
    <h1>SHOW VIDEO</h1>
    <button type="button" name="connect">connect</button>
    <button type="button" name="disconnect">disconnect</button>
    <button type="button" name="send">send</button>
    <video id="video" autoplay controls></video>
</body>
<script src="http://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    let socket;
    const $connect = $("button[name='connect']");
    const $disconnect = $("button[name='disconnect']");
    const $send = $("button[name='send']");
    const $video = document.getElementById("video");
    let list = ["image/apng", "image/aces", "image/avci", "image/avcs", "image/avif", "mage/bmp", "image/cgm", "mage/dicom-rle", "image/dpx", "image/emf", "image/example", "mage/fits", "image/g3fax", "image/heic", "image/heic-sequence", "image/heif", "image/heif-sequence", "image/hej2k", "image/hsj2", "mage/j2c", "image/jls", "image/jp2", "image/jph", "image/jphc", "image/jpm", "image/jpx", "image/jxr", "image/jxrA", "image/jxrS", "image/jxs", "image/jxsc", "image/jxsi" ," image/jxss", "image/ktx", "image/ktx2", "image/naplps", "image/png"]
    let count = 0;

    $connect.on("click", function (arrayLike) {
        socket = new WebSocket("ws://localhost:10000/video");

        socket.addEventListener("open", () => {
            console.log("connected");
        });

        socket.addEventListener("message", (event) => {
            if (count<1) {
                const frameArray = Uint8Array.from(atob(event.data), c => c.charCodeAt(0));
                const frameBlob = new Blob([frameArray], {type: 'image/jpeg'});
                const frameUrl = URL.createObjectURL(frameBlob);

                $video.src = frameUrl;
                count += 1;
            }
        });
    });

    $send.on("click", function() {
        socket.send("hello");
    });

    $disconnect.on("click", function() {
        socket.close();
    });


</script>
</html>