<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0/EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.falldowndetectionserver.mapper.NokPhoneMapper">
    <insert id="insert">
        INSERT TBL_NOKPHONE (UNO, NOK_PHONE)
               VALUES (#{uno}, #{nokPhone});
    </insert>

    <delete id="delete">
        DELETE FROM TBL_NOKPHONE
        WHERE UNO = #{uno};
    </delete>

    <select id="selectAll" resultType="string">
        SELECT NOK_PHONE FROM TBL_NOKPHONE;
    </select>
</mapper>