<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0/EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.falldowndetectionserver.mapper.NokPhoneMapper">
    <insert id="insert">
        INSERT TBL_NOKPHONE (CAMERA_ID, NOK_PHONE)
               VALUES (#{cameraId}, #{nokPhone});
    </insert>

    <update id="updateToken">
        UPDATE TBL_NOKPHONE SET TOKEN=#{token}
        WHERE NOK_PHONE = #{nokPhone};
    </update>

    <delete id="delete">
        DELETE FROM TBL_NOKPHONE
        WHERE CAMERA_ID = #{cameraId};
    </delete>

    <select id="selectAll" resultType="string">
        SELECT NOK_PHONE FROM TBL_NOKPHONE
        WHERE CAMERA_ID = #{cameraId};
    </select>
</mapper>